{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} {% endblock %}

{% block body %}

<form action="{{url_for("index")}}" method="post">

<div class="card border border-dark" style="margin: 20px">
  <h6 class="card-header">How to Use UBC Course Finder</h6>
  <div class="card-body">
    <p class="card-text">...</p>
  </div>
</div>

<div class="card border border-dark" style="margin: 20px">
  <h6 class="card-header">Search</h6>
  <div class="card-body">
    <div class="row">
      <div class="col">
        <div class="form-check">
          <span style="display:inline-block">
              <label class="form-label" for="course_code">Course Code</label>
              <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group" id="course_code">
                <input type="checkbox" class="btn-check" id="1xx" autocomplete="off" name="course_code" value="1">
                <label class="btn btn-outline-primary" for="1xx">1xx</label>
                <input type="checkbox" class="btn-check" id="2xx" autocomplete="off" name="course_code" value="2">
                <label class="btn btn-outline-primary" for="2xx">2xx</label>
                <input type="checkbox" class="btn-check" id="3xx" autocomplete="off" name="course_code" value="3">
                <label class="btn btn-outline-primary" for="3xx">3xx</label>
                <input type="checkbox" class="btn-check" id="4xx" autocomplete="off" name="course_code" value="4">
                <label class="btn btn-outline-primary" for="4xx">4xx</label>
                <input type="checkbox" class="btn-check" id="5xx+" autocomplete="off" name="course_code" value="5">
                <label class="btn btn-outline-primary" for="5XX+">+</label>
              </div>
          </span>
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <span style="display:inline-block">
              <label class="form-label" for="subject_code">Subject Code</label>
              <input type="text" id="subject_code" name="subject_code" class="form-control" placeholder="CPSC, BIOL, CHEM" />
          </span>
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <span style="display:inline-block">
              <label class="form-label" for="average">Average</label>
              <input type="text" id="average" name="average" class="form-control" placeholder="Example: 80" />
          </span>
        </div>
      </div>
      <div class="col">
        <div class="form-check">
          <span style="display:inline-block">
              <label class="form-label" for="starting year">Choose a starting year:</label>
              <select name="Starting Year" id="starting year">
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2028">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
              </select>
              <label class="form-label" for="ending year">Choose an ending year:</label>
              <select name="Ending Year" id="ending year">
                <option value="2014">2014</option>
                <option value="2015">2015</option>
                <option value="2016">2016</option>
                <option value="2017">2017</option>
                <option value="2028">2018</option>
                <option value="2019">2019</option>
                <option value="2020">2020</option>
              </select>
          </span>
        </div>
      </div>
      <div class="col" style="padding: 20px">
         <div class="form-check">
           <span style="display:inline-block">
               <label class="form-label" for="starting year">Starting year:</label>
               <select name="starting year" id="starting year">
                 <option value="2014">2014</option>
                 <option value="2015">2015</option>
                 <option value="2016">2016</option>
                 <option value="2017">2017</option>
                 <option value="2028">2018</option>
                 <option value="2019">2019</option>
                 <option value="2020">2020</option>
               </select>
               <label class="form-label" for="ending year">Ending year:</label>
               <select name="ending year" id="ending year">
                 <option value="2014">2014</option>
                 <option value="2015">2015</option>
                 <option value="2016">2016</option>
                 <option value="2017">2017</option>
                 <option value="2028">2018</option>
                 <option value="2019">2019</option>
                 <option value="2020">2020</option>
               </select>
           </span>
         </div>
       </div>
      <div class="col" style="padding: 20px">
        <div class="form-check">
          <label class="form-label" for="offered_in_this_term">Offered In This Term</label>
          <input class="form-check-input" type="checkbox" value="this term" id="offered_in_this_term" name="offered">
        </div>
        <div class="form-check">
          <label class="form-label" for="offered_in_summer">Offered In Summer</label>
          <input class="form-check-input" type="checkbox" value="summer" id="offered_in_summer" name="offered">
        </div>
      </div>
      <div class="col">
        <div class="form-outline" style="padding-top: 30px">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card border border-dark" style="margin: 20px">
  <h6 class="card-header">
    Courses
  </h6>
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Subject</th>
          <th scope="col">Course</th>
          <th scope="col">Average</th>
          <th scope="col">Max Average</th>
          <th scope="col">Min Average</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>CPSC</td>
          <td>110</td>
          <td>78.1</td>
          <td>90</td>
          <td>50</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

{% endblock %}